body {
    background-color: green;
    color: snow;
}
main {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.wish-list-card {
    background-color: red;
    border-radius: 1rem;
    border: 0.4rem solid snow;
    padding: 2rem;
}

.wish-list-card h3 {
    margin-top: 0;
}

.wish-list-card ul {
    padding-left: 1rem;
}